<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>AD</string>
	<string>AE</string>
	<string>AF</string>
	<string>AG</string>
	<string>AI</string>
	<string>AL</string>
	<string>AM</string>
	<string>AO</string>
	<string>AQ</string>
	<string>AR</string>
	<string>AS</string>
	<string>AT</string>
	<string>AU</string>
	<string>AW</string>
	<string>AX</string>
	<string>AZ</string>
	<string>BA</string>
	<string>BB</string>
	<string>BD</string>
	<string>BE</string>
	<string>BF</string>
	<string>BG</string>
	<string>BH</string>
	<string>BI</string>
	<string>BJ</string>
	<string>BL</string>
	<string>BM</string>
	<string>BN</string>
	<string>BO</string>
	<string>BQ</string>
	<string>BR</string>
	<string>BS</string>
	<string>BT</string>
	<string>BV</string>
	<string>BW</string>
	<string>BY</string>
	<string>BZ</string>
	<string>CA</string>
	<string>CC</string>
	<string>CD</string>
	<string>CF</string>
	<string>CG</string>
	<string>CH</string>
	<string>CI</string>
	<string>CK</string>
	<string>CL</string>
	<string>CM</string>
	<string>CN</string>
	<string>CO</string>
	<string>CR</string>
	<string>CU</string>
	<string>CV</string>
	<string>CW</string>
	<string>CX</string>
	<string>CY</string>
	<string>CZ</string>
	<string>DE</string>
	<string>DJ</string>
	<string>DK</string>
	<string>DM</string>
	<string>DO</string>
	<string>DZ</string>
	<string>EC</string>
	<string>EE</string>
	<string>EG</string>
	<string>EH</string>
	<string>ER</string>
	<string>ES</string>
	<string>ET</string>
	<string>FI</string>
	<string>FJ</string>
	<string>FK</string>
	<string>FM</string>
	<string>FO</string>
	<string>FR</string>
	<string>GA</string>
	<string>GB</string>
	<string>GD</string>
	<string>GE</string>
	<string>GF</string>
	<string>GG</string>
	<string>GH</string>
	<string>GI</string>
	<string>GL</string>
	<string>GM</string>
	<string>GN</string>
	<string>GP</string>
	<string>GQ</string>
	<string>GR</string>
	<string>GS</string>
	<string>GT</string>
	<string>GU</string>
	<string>GW</string>
	<string>GY</string>
	<string>HK</string>
	<string>HM</string>
	<string>HN</string>
	<string>HR</string>
	<string>HT</string>
	<string>HU</string>
	<string>ID</string>
	<string>IE</string>
	<string>IL</string>
	<string>IM</string>
	<string>IN</string>
	<string>IO</string>
	<string>IQ</string>
	<string>IR</string>
	<string>IS</string>
	<string>IT</string>
	<string>JE</string>
	<string>JM</string>
	<string>JO</string>
	<string>JP</string>
	<string>KE</string>
	<string>KG</string>
	<string>KH</string>
	<string>KI</string>
	<string>KM</string>
	<string>KN</string>
	<string>KP</string>
	<string>KR</string>
	<string>KW</string>
	<string>KY</string>
	<string>KZ</string>
	<string>LA</string>
	<string>LB</string>
	<string>LC</string>
	<string>LI</string>
	<string>LK</string>
	<string>LR</string>
	<string>LS</string>
	<string>LT</string>
	<string>LU</string>
	<string>LV</string>
	<string>LY</string>
	<string>MA</string>
	<string>MC</string>
	<string>MD</string>
	<string>ME</string>
	<string>MF</string>
	<string>MG</string>
	<string>MH</string>
	<string>MK</string>
	<string>ML</string>
	<string>MM</string>
	<string>MN</string>
	<string>MO</string>
	<string>MP</string>
	<string>MQ</string>
	<string>MR</string>
	<string>MS</string>
	<string>MT</string>
	<string>MU</string>
	<string>MV</string>
	<string>MW</string>
	<string>MX</string>
	<string>MY</string>
	<string>MZ</string>
	<string>NA</string>
	<string>NC</string>
	<string>NE</string>
	<string>NF</string>
	<string>NG</string>
	<string>NI</string>
	<string>NL</string>
	<string>NO</string>
	<string>NP</string>
	<string>NR</string>
	<string>NU</string>
	<string>NZ</string>
	<string>OM</string>
	<string>PA</string>
	<string>PE</string>
	<string>PF</string>
	<string>PG</string>
	<string>PH</string>
	<string>PK</string>
	<string>PL</string>
	<string>PM</string>
	<string>PN</string>
	<string>PR</string>
	<string>PS</string>
	<string>PT</string>
	<string>PW</string>
	<string>PY</string>
	<string>QA</string>
	<string>RE</string>
	<string>RO</string>
	<string>RS</string>
	<string>RU</string>
	<string>RW</string>
	<string>SA</string>
	<string>SB</string>
	<string>SC</string>
	<string>SD</string>
	<string>SE</string>
	<string>SG</string>
	<string>SH</string>
	<string>SI</string>
	<string>SJ</string>
	<string>SK</string>
	<string>SL</string>
	<string>SM</string>
	<string>SN</string>
	<string>SO</string>
	<string>SR</string>
	<string>SS</string>
	<string>ST</string>
	<string>SV</string>
	<string>SX</string>
	<string>SY</string>
	<string>SZ</string>
	<string>TC</string>
	<string>TD</string>
	<string>TF</string>
	<string>TG</string>
	<string>TH</string>
	<string>TJ</string>
	<string>TK</string>
	<string>TL</string>
	<string>TM</string>
	<string>TN</string>
	<string>TO</string>
	<string>TR</string>
	<string>TT</string>
	<string>TV</string>
	<string>TW</string>
	<string>TZ</string>
	<string>UA</string>
	<string>UG</string>
	<string>UM</string>
	<string>US</string>
	<string>UY</string>
	<string>UZ</string>
	<string>VA</string>
	<string>VC</string>
	<string>VE</string>
	<string>VG</string>
	<string>VI</string>
	<string>VN</string>
	<string>VU</string>
	<string>WF</string>
	<string>WS</string>
	<string>XK</string>
	<string>YE</string>
	<string>YT</string>
	<string>ZA</string>
	<string>ZM</string>
	<string>ZW</string>
</array>
</plist>
